body {
    background: rgb(71, 71, 71);
    background: linear-gradient();
    font-family: Poppins;
}

.navbar {
    text-align: left;
    background-color: rgb(228, 228, 228);
    margin: 20px;
    border: 30px;
    padding: 5px;
    border-radius: 70px;
    backdrop-filter: blur(8px);
}

img {
   padding: 1rem;
   border-radius: 40px;
}

h1 {
    color: azure;
    text-align: center;
    padding: 40px;
    font-size: 45px;
}

p {
    text-align: center;
    font-size: 25px;
    color: azure;
}

