body {
    font-family: Poppins;
}

nav {
    text-align: left;
    background-color: rgb(228, 228, 228);
    backdrop-filter: blur(40px);
    margin: 40px;
    border: 90px;
    padding: 20px;
    border-radius: 70px;
}

img {
   padding: 10px;
   border-radius: 40px;
}

h1 {
    text-align: center;
    padding: 40px;
    font-size: 45px;
}

p {
    text-align: center;
    font-size: 25px;
}

