---
import Navigation from '../components/Navigation.astro'
---
<html>
 <head>

	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>GalactWeb</title>
	<meta name="description" content="Hi, I am GalactHD, an aspirant developer that makes something.">
	<meta name="author" content="GalactHD">
	<meta name="robots" content="index, follow">

	<!-- Facebook Meta Tags -->
	<meta property="og:url" content="https://galacthd.github.io">
	<meta property="og:type" content="website">
	<meta property="og:title" content="GalactWeb?">
	<meta property="og:description" content="Hi, I am GalactHD, an aspirant developer that makes something.">
	<meta property="og:image" content="https://upload.wikimedia.org/wikipedia/commons/d/d6/AS08-16-2593_remastered.jpg">

	<!-- Twitter Meta Tags -->
	<meta name="twitter:card" content="summary_large_image">
	<meta property="twitter:domain" content="galacthd.github.io">
	<meta property="twitter:url" content="https://galacthd.github.io">
	<meta name="twitter:title" content="GalactWeb?">
	<meta name="twitter:description" content="Hi, I am GalactHD, an aspirant developer that makes something.">
	<meta name="twitter:image" content="https://upload.wikimedia.org/wikipedia/commons/d/d6/AS08-16-2593_remastered.jpg">

	<style>
	  @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
      @import url('https://fonts.cdnfonts.com/css/vcrosdneue');
	  @import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
	  @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
	  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
	  @import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');
	  @import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
    </style>
                
 </head>
 <body class="bg-black">

	
	<!-- Navbar -->
	<Navigation>
	</Navigation>

	<!-- Main Content -->
	

	<h1 class="text-white text-center text-4xl m-5 font-poppins pt-[120px] font-medium"> I am GalactHD! Welcome. </h1>

	<div class="flex justify-center pt-5">
	  <div class="bg-[#111111] rounded-md w-[80%] border-[0.5px] border-neutral-800">
		<h1 class="text-center text-white font-geistmono pt-9 font-medium text-3xl">Its a people???</h1>
		 <p class="indent-6 text-white font-poppins m-9 text-lg"> Hi, I am GalactHD, an aspiring developer passionate about exploring the vast world of technologies and all the cool things that come with it. While I'm not the best yet, I'm not bothered by it—programming is more of a personal journey for me. Right now, I build websites and am diving into more exciting projects like creating apps with .NET C# and backend development. Gaming is another big love of mine, especially roguelikes and sandboxes, but I'm always open to new experiences. Whether it's creating, learning, or gaming. </p>
	  </div>
	</div>

	<h2 class="text-center text-white font-poppins text-3xl pt-[80px]"> <s>Skill issues with</s> Skills</h2>

	<div class="flex justify-center pt-10">
		<div class="bg-[#111111] w-[90%] sm:w-[80%] md:w-[60%] lg:w-[30%] h-[60px] border-[0.5px] border-neutral-800 rounded-md">
		  <div class="space-x-5 flex justify-center pt-4">
			<img src="./public/astro" height="30" width="30" class="flex-shrink-0" alt="Ícone Astro, framework de construção de sites">
			<img src="./public/firebase" height="30" width="30" class="flex-shrink-0" alt="Ícone Firebase, plataforma de desenvolvimento de apps">
			<img src="./public/css" height="30" width="30" class="flex-shrink-0" alt="Ícone CSS, linguagem de estilo para web">
			<img src="./public/git" height="30" width="30" class="flex-shrink-0" alt="Ícone Git, sistema de controle de versões">
			<img src="./public/csharp" height="30" width="30" class="flex-shrink-0" alt="Ícone C#, linguagem de programação orientada a objetos">
			<img src="./public/javascript" height="30" width="30" class="flex-shrink-0" alt="Ícone JavaScript, linguagem de programação para web">
		  </div>
		</div>
	  </div>
	  
	  

<footer>
	a
</footer>



 </body>
</html>